@import "styles/vars"

main.v-not-found
	height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	background: $colorMain
	h1
		margin-bottom: 20px
		color: white
	a
		height: 40px
		border-radius: 3px
		padding: 0 20px
		display: flex
		align-items: center
		justify-content: center
		background: $colorAccent
		color: white
		font-weight: 700
		transition: all 250ms ease-in-out
		&:hover
			opacity: .54