html, body
	width: 100%
	height: 100%
	position: relative

body
	margin: 0
	padding: 0
	box-sizing: border-box

	*
		margin: 0
		padding: 0
		border: none
		outline: none 
		box-sizing: border-box
		appearance: none
		font-family: monospace
		-webkit-overflow-scrolling: touch
		text-decoration: none
		color: inherit
		background: none
		border-radius: 0