@import "styles/vars"

.u-button
	height: 40px
	border-radius: 3px
	padding: 0 20px
	display: inline-flex
	align-items: center
	justify-content: center
	background: $colorAccent
	color: white
	font-weight: 700
	transition: all 250ms ease-in-out
	cursor: pointer
	&:hover
		opacity: .54